<div id="join">
  <form class="form-horizontal">
    <fieldset>
      <legend>Join chakka today!</legend>
      <div class="control-group">
        <div class="controls">
          <input id="username" type="text" placeholder="Choose a username" ng-model="username" class="huge"/>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button class="btn btn-primary" ng-click="join()">Join the fun!</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
