<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">
  <display-name>lemur</display-name>

  <servlet>
    <servlet-name>ChatConnector</servlet-name>
    <servlet-class>chakka.servlet.ChatConnectorServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ChatConnector</servlet-name>
    <url-pattern>/chat/join/*</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
